#action-wrapper {
  display: flex;
  justify-content: center;
  margin: 20px;
  width: 100%;
}

#action-message {
  padding: 5px 15px 5px 15px;
  display: flex;
  justify-content: space-between;

  height: 20px;
  width: 60%;

  border: 1px solid brown;
  border-right-width: 0;
  border-radius: 20px 0 0 20px;
  font-size: 16px;

  color: brown;
}

button {
  padding: 5px 15px 5px 15px;
  border: none;
  background-color: brown;
  color: white;
  font-size: 16px;
  width: 150px;
  border-radius: 0 20px 20px 0;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  color: #d07979;
  background-color: white;
  border: 1px solid brown;
}
